name: Pylint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install pylint
          if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi

      - name: Run Pylint
        # C0116,R0914,R0902 are issues we decided we do not care about
        # W291,W292,W293,W391,E301,E302 should get fixed by the autoformat job
        run: pylint src/ --disable=C0116,R0914,R0902,C0114,C0115
